@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="header" class="display-4 color-text" onmouseover="newColor()" onmouseout="oldColor()">Welcome</h1>
    <p>Here's a link to a man very enthused to be playing <a href="https://youtu.be/-Kdh3kaGXYo"> a keytar</a>.</p>
</div>
